

.twContainer {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: top;
  align-items: top;
  background-color: #000000;
}

.text span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #fff;
  animation: zoomup 2s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #00c2ba;
    filter: blur(1px);
    text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
      0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
      0 0 120px #00c2ba;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}
